<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6 col-lg-12 col-xxl-12 dis" id="contact">
            <form action="/contact" method="POST">
                <h1 style="color: aqua;">Contact Us</h1>
                <p>We will be happy to help you</p>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="Enter Your Name ">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Email</label>
                    <input type="email" class="form-control" id="formGroupExampleInput2" name="email" placeholder="Enter Your Email ">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" id="formGroupExampleInput" name="phone" placeholder="Enter Your Number ">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Message</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="message" placeholder="Leave Your Message">
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
</div>