<div class="container-fluid mt-5 " id="service">
<h1 style="color: aqua; text-align:center; margin-top:20px; ">Our Services</h1>
<p style="text-align:center; margin:20px 0;">We Offer You </p>

      <div class="row">
        <div class="col-md-4 mt-3">
            <div class="box">
                <div class="our-services">
                    <div class="icons1">
                    <i class="fas fa-cogs"></i>
                    </div>
                    <h1 class="custom-h1">Settings </h1>
                    <p class="custom-p"> Nam a soluta error nulla enim obcaecati, facere repellendus, voluptatum sint saepe incidunt rem tempora nobis nemo facilis illum optio eius laborum.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <div class="box">
                <div class="our-services">
                    <div class="icons2">
                    <i class="fas fa-stopwatch"></i>
                    </div>
                    <h1 class="custom-h1">Speedup </h1>
                    <p class="custom-p"> Nam a soluta error nulla enim obcaecati, facere repellendus, voluptatum sint saepe incidunt rem tempora nobis nemo facilis illum optio eius laborum.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <div class="box">
                <div class="our-services">
                    <div class="icons3">
                    <i class="fas fa-user-secret"></i>
                    </div>
                    <h1 class="custom-h1">Privacy </h1>
                    <p class="custom-p"> Nam a soluta error nulla enim obcaecati, facere repellendus, voluptatum sint saepe incidunt rem tempora nobis nemo facilis illum optio eius laborum.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <div class="box">
                <div class="our-services">
                    <div class="icons4">
                    <i class="fas fa-server"></i>
                    </div>
                    <h1 class="custom-h1">Backups </h1>
                    <p class="custom-p"> Nam a soluta error nulla enim obcaecati, facere repellendus, voluptatum sint saepe incidunt rem tempora nobis nemo facilis illum optio eius laborum.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <div class="box">
                <div class="our-services">
                    <div class="icons5">
                    <i class="fas fa-lock"></i>
                    </div>
                    <h1 class="custom-h1">SSL secured </h1>
                    <p class="custom-p"> Nam a soluta error nulla enim obcaecati, facere repellendus, voluptatum sint saepe incidunt rem tempora nobis nemo facilis illum optio eius laborum.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <div class="box">
                <div class="our-services">
                    <div class="icons6">
                    <i class="fas fa-database"></i>
                    </div>
                    <h1 class="custom-h1">Database </h1>
                    <p class="custom-p"> Nam a soluta error nulla enim obcaecati, facere repellendus, voluptatum sint saepe incidunt rem tempora nobis nemo facilis illum optio eius laborum.</p>
                </div>
            </div>
        </div>
        </div>
        </div>
      </div>